# Transient files
*.dvi
*.aux
*.pdf
*.log
*.toc
*.lot
*.lof
*.bcf
*.run.xml
*.bbl
*.blg
*.out
*.fdb_latexmk
*.fls
*.gz
*.glo
*.glsdefs
*.ist
*.gls
*.xdy

# Supporting material
thesis template
sources
*.jpg
